header
{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
   
}
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(208, 249, 145);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
.contenedor_centro {
    margin-top: 2em;
    background-color: black;
    width: 80%;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Agregamos text-align: center aquí */

}
 
h1 {
    color:white;
    background-color: black;
    text-align: center; 
    margin: 0 auto; /* Añadimos margin: 0 auto; para centrar horizontalmente */
}
.cabecera {
    background-color: #333;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s; /* Agregamos transición para el cambio de color */
  }
  .cabecera a {
    color: white;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
  }
  /* Cambiar color del menú al pasar el cursor */
  .cabecera a:hover {
    background-color: #555;
  }
 
 
  .cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 70px;
    min-height: 100vh;
    box-sizing: border-box;
}
 
.jugadores {
    margin: 0 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Puedes ajustar esto según tus preferencias */
    align-items: flex-start;
}

.ficha_jugador {
    width: 200px;
    height: 300px;
    margin: 60px; /* Ajuste del margen para los jugadores */
    position: relative;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
 
.imagen_jugador {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
 
.ficha_jugador h2,
.ficha_jugador p {
    margin: 0;
    text-align: center;
}
 
.ficha_jugador::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
 
.ficha_jugador:hover::after {
    opacity: 1;
}
 
.texto_jugador {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}
