header {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;

}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./Imagenes/fondocampo2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contenedor-centro {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    text-align: center; /* Añadido para centrar el texto horizontalmente */
}

.cabecera {
    background-color: #333;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
    /* Agregamos transición para el cambio de color */
}

.cabecera a {
    color: white;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
}

/* Cambiar color del menú al pasar el cursor */
.cabecera a:hover {
    background-color: #555;
}


.cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 70px;
    /* Ajuste para evitar que los jugadores se solapen con el menú */
}

.ficha_jugador {
    width: 200px;
    height: 300px;
    margin: 60px;
    /* Ajuste del margen para los jugadores */
    position: relative;
    cursor: pointer;
    background-color: #57d534;
    border-radius: 10px;
    overflow: hidden;
}

.imagen_jugador {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.ficha_jugador h2,
.ficha_jugador p {
    margin: 0;
    text-align: center;
}

.ficha_jugador::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ficha_jugador:hover::after {
    opacity: 1;
}

.texto_jugador {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

tiene menú contextual