header {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

nav a {
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
  }

.galeria img {

    display: block;
    width: 100%;
    height: 20%;
}
/* estilos para el formulario */

 
 * {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
 section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
 }
 
 td {
  padding: 5px;
 }
 
 fieldset {
  border-radius: 20px;
  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 table {
  width: 95%;
 }
 
 legend {
  text-decoration: underline;
  color: rgb(90, 207, 54);
  font-weight: bold;
 }
 
 .grupo-texto{
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 5px;
  align-items: center;
 }
 .botones {
  margin-bottom: 20px;
  
 }