header 
{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

body 
{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
nav a 
{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
}
a
{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.equipo img
{
  width: 40%;
  height: 40%;
}

.galeria img {
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
}


.equipo {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}
/*Estilo carrusel de imagenes*/
.carrusel {
  overflow: hidden;
}

#carrusel {
  display: flex;
  flex-direction: row; /* Hacer que el carrusel vaya lateralmente */
  overflow-x: scroll;  /* Permitir desplazamiento horizontal */
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 0 0 auto; /* Evitar que las im치genes se ajusten */
}

.carousel-item img {
  max-width: 300px; /* Ajustar el tama침o m치ximo de las im치genes */
  height: 300px;
}

/* estilos para el formulario */

.fieldset {
  border-radius: 20px;
  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .legend {
  text-decoration: underline;
  color: rgb(90, 207, 54);
  font-weight: bold;
 }
 .jugadores {
  text-decoration: underline;
  color: rgb(90, 207, 54);
  font-weight: bold;
 }
 .botones {
  margin-bottom: 20px;
 font-size: large;
 background-color: brown;
 }
 .botones:hover{
  background-color: #d4661d;
  color:aliceblue;
  box-shadow: inset;
 }
